
.idea/
.DS_Store
.vscode

devcd-runtime/nexus-repo/*
!devcd-runtime/nexus-repo/.gitkeep
devcd-runtime/runtime/*
!devcd-runtime/runtime/.gitkeep
devcd-runtime/logs/*
!devcd-runtime/logs/.gitkeep

devcd-helm/bs-helm/couchbase/couchbase-data-pv/*
!devcd-helm/bs-helm/couchbase/couchbase-data-pv/.gitkeep
devcd-helm/bs-helm/kafka/kafka-data-pv/*
!devcd-helm/bs-helm/kafka/kafka-data-pv/.gitkeep

/devc