
kafka:
  image: bitnami/kafka
  replicas: 1
  imagePullPolicy: IfNotPresent
  externalHost: localhost #host.docker.internal
  ports:
    svcPort: 9092 
    containerPort: 9092
    svcIntPort: 29092
    containerIntPort: 29092
    nodePort: 30092
  resources:
    requests:
      memory: 750M  
    limits:
      memory: 2G

  zookeeper:
    connect: zookeeper:2181
  data:
    capacity: 5Gi
    path: devcd-helm/bs-helm/kafka/kafka-data-pv


zookeeper:
  image: bitnami/zookeeper
  serviceName: zookeeper
  replicas: 1
  imagePullPolicy: IfNotPresent
  resources:
    requests:
      memory: 250M  
    limits:
      memory: 400M 
  ports:
    svcPort: 2181
    containerPort: 2181  
  data:
    capacity: 5Gi