apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: {{ .Values.kafka.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.kafka.image }}
        imagePullPolicy: {{ .Values.kafka.imagePullPolicy }}
        resources:
          requests:
            memory: {{ .Values.kafka.resources.requests.memory }}        
          limits:
            memory: {{ .Values.kafka.resources.limits.memory }}
        env:
        - name: KAFKA_NODE_ID
          value: "{{ .Values.kafka.nodeId | default "1" }}"
        - name: KAFKA_PROCESS_ROLES
          value: "broker,controller"
        - name: KAFKA_LISTENERS
          value: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
        - name: KAFKA_ADVERTISED_LISTENERS
          value: PLAINTEXT://{{ .Values.kafka.serviceName | default .Release.Name }}:{{ .Values.kafka.ports.svcPort }},EXTERNAL://{{ .Values.kafka.externalHost | default "localhost" }}:{{ .Values.kafka.ports.externalPort }}
        - name: KAFKA_CONTROLLER_LISTENER_NAMES
          value: CONTROLLER
        - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
          value: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
        - name: KAFKA_INTER_BROKER_LISTENER_NAME
          value: PLAINTEXT
        - name: KAFKA_CONTROLLER_QUORUM_VOTERS
          value: "{{ .Values.kafka.nodeId | default "1" }}@{{ .Values.kafka.serviceName | default .Release.Name }}:9093"
        - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
          value: "{{ .Values.kafka.offsetsTopicReplicationFactor | default "1" }}"
        - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
          value: "{{ .Values.kafka.transactionStateLogReplicationFactor | default "1" }}"
        - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
          value: "{{ .Values.kafka.transactionStateLogMinIsr | default "1" }}"
        - name: KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS
          value: "{{ .Values.kafka.groupInitialRebalanceDelayMs | default "0" }}"
        - name: KAFKA_LOG_DIRS
          value: /var/lib/kafka/data
        # - name: KAFKA_NUM_PARTITIONS
        #   value: "{{ .Values.kafka.numPartitions | default "3" }}"
        ports:
        - containerPort: {{ .Values.kafka.ports.containerPort }}
          name: plaintext
        - containerPort: {{ .Values.kafka.ports.controllerPort }}
          name: controller
        - containerPort: {{ .Values.kafka.ports.externalPort }}
          name: external
        volumeMounts:
        - mountPath: /var/lib/kafka/data
          name: kafka-data
      volumes:
      - name: kafka-data
        hostPath:
          path: "{{ .Values.CWD }}/{{ .Values.kafka.data.path }}"
