{{- if .Values.zookeeper.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
spec:
  replicas: {{ .Values.zookeeper.replicas }}
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
      - name: zookeeper
        image: {{ .Values.zookeeper.image }}
        imagePullPolicy: {{ .Values.zookeeper.imagePullPolicy }}
        resources:
          requests:
            memory: {{ .Values.zookeeper.resources.requests.memory }}         
          limits:
            memory: {{ .Values.zookeeper.resources.limits.memory }}        
        env:
        - name: ZOOKEEPER_CLIENT_PORT
          value: "{{ .Values.zookeeper.ports.containerPort }}"
        - name: ZOOKEEPER_TICK_TIME
          value: "2000"
        volumeMounts:
        - name: zookeeper-data
          mountPath: /var/lib/zookeeper/data
        ports:
        - containerPort: {{ .Values.zookeeper.ports.containerPort }}          
      volumes:
      - name: zookeeper-data
        hostPath:
          path: "{{ .Values.CWD }}/{{ .Values.zookeeper.data.path }}"
{{- end }}